.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 60px;
}

.App-header {
    background-color: #222;
    height: 20px;
    padding: 20px;
    color: white;
}

.App-container {
    padding: 15px;
    margin: 15px;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
    display: flex;
    flex-direction: row;
}

.flexcontainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
